
*_backup/
chroma_db_backup/
docstore_backup/


__pycache__/
*.py[cod]
*$py.class


.env


.DS_Store
Thumbs.db



chroma_db/
docstore/


*.zip


*.pkl



Law_Act/archivedrawpdf/
Law_Act/archivedtxt/
Law_Act/rawpdf/
Law_Act/cleantxt/
